{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ image_file }}">
            <div class="media-body">
                <!-- Can you CHANGE username from text to url_for 'user_items.html'????????? -->
                <h2 class="account-heading">
                    <a herf="{{ url_for('usersappblueprint.user_items', username=current_user.username) }}">
                    {{ current_user.username }}
                    </a>
                </h2>
            </div>
            <p class="text-secondary">{{ current_user.email }}: <a class="mr-2" href="{{ url_for('usersappblueprint.user_items', username=current_user.username) }}">Your List!</a></p>
        </div>
            <form method="POST" action="" enctype="multipart/form-data">
                <!-- hidden_tag() adds a Cross Site Forgery (CSRF) token -->
                {{ form.hidden_tag() }}
                <fieldset class="form-group mb-3">
                    <legend class="border-bottom mb-4">Account Info</legend>
                    <div class="form-group">
                        {{ form.username.label(class="form-control-label") }}
                        {% if form.username.errors %}
                            {{ form.username(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for errors in form.username.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                        {% else %}
                            {{ form.username(class="form-control form-control-lg") }}
                        {% endif %}
                    </div> 
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for errors in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                    </div>
                    <div class="form-check">
                        {{ form.display_public.label(class="form-check-label")}}
                        {{ form.display_public(class="form-check-input")}}
                    </div> 
                    <div class="form-group">
                        {{ form.picture.label() }}
                        {{ form.picture(class="form-control-file") }}
                        {% if form.picture.errors %}
                            <span class="text-danger"> {{ error }}  </span></br>
                        {% endif%}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
    </div>
{% endblock content %}